<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="DEBUG">
            <AppenderRef ref="console"/>
        </root>
    </loggers>
</configuration>